@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jura:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body {
  @apply overflow-x-hidden !scrollbar-thin scrollbar-thumb-primary-light;
}

.bg {
  background: url(../img/welding-bg.png);
  background-size: cover;
}

#ReactSimpleImageViewer {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}
